.home {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.home .div {
  background-color: #ffffff;
  width: 1440px;
  height: 3066px;
  position: relative;
}

.home .testimonios {
  position: absolute;
  width: 1282px;
  height: 340px;
  top: 1949px;
  left: 80px;
}

.home .cards {
  display: flex;
  width: 1280px;
  align-items: flex-start;
  gap: var(--variable-collection-spacing-SM);
  position: absolute;
  top: 106px;
  left: 0;
}

.home .customer-quote {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--variable-collection-spacing-m);
  padding: var(--variable-collection-spacing-SM);
  position: relative;
  flex: 1;
  flex-grow: 1;
  margin-top: -1px;
  margin-bottom: -1px;
  margin-left: -1px;
  background-color: #ffffff;
  border-radius: 12px;
  border: 1px solid;
  border-color: var(--colors-border-border-default);
}

.home .text-wrapper {
  position: relative;
  align-self: stretch;
  margin-top: -0.5px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 36px;
}

.home .avatar {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.home .img {
  position: relative;
  width: 45px;
  height: 45px;
}

.home .frame {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  position: relative;
  flex: 0 0 auto;
}

.home .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--small-text-font-family);
  font-weight: var(--small-text-font-weight);
  color: #000000;
  font-size: var(--small-text-font-size);
  letter-spacing: var(--small-text-letter-spacing);
  line-height: var(--small-text-line-height);
  white-space: nowrap;
  font-style: var(--small-text-font-style);
}

.home .text-wrapper-3 {
  position: relative;
  width: fit-content;
  font-family: var(--small-text-font-family);
  font-weight: var(--small-text-font-weight);
  color: #828282;
  font-size: var(--small-text-font-size);
  letter-spacing: var(--small-text-letter-spacing);
  line-height: var(--small-text-line-height);
  white-space: nowrap;
  font-style: var(--small-text-font-style);
}

.home .customer-quote-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--variable-collection-spacing-m);
  padding: var(--variable-collection-spacing-SM);
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  margin-top: -1px;
  margin-bottom: -1px;
  background-color: #ffffff;
  border-radius: 12px;
  border: 1px solid;
  border-color: var(--colors-border-border-default);
}

.home .customer-quote-3 {
  margin-right: -1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--variable-collection-spacing-m);
  padding: var(--variable-collection-spacing-SM);
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  margin-top: -1px;
  margin-bottom: -1px;
  background-color: #ffffff;
  border-radius: 12px;
  border: 1px solid;
  border-color: var(--colors-border-border-default);
}

.home .text-wrapper-4 {
  position: absolute;
  width: 625px;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #802626;
  font-size: 48px;
  letter-spacing: -0.96px;
  line-height: normal;
}

.home .navigation-footer {
  height: 264px;
  top: 2802px;
  position: absolute;
  width: 1440px;
  left: 0;
  background-color: #ffffff;
}

.home .items {
  width: 231px;
  left: 911px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: var(--variable-collection-spacing-s);
  position: absolute;
  top: 48px;
}

.home .text-wrapper-5 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--small-text-font-family);
  font-weight: var(--small-text-font-weight);
  color: #000000;
  font-size: var(--small-text-font-size);
  letter-spacing: var(--small-text-letter-spacing);
  line-height: var(--small-text-line-height);
  font-style: var(--small-text-font-style);
}

.home .text-wrapper-6 {
  position: relative;
  align-self: stretch;
  font-family: var(--small-text-font-family);
  font-weight: var(--small-text-font-weight);
  color: #444444;
  font-size: var(--small-text-font-size);
  letter-spacing: var(--small-text-letter-spacing);
  line-height: var(--small-text-line-height);
  font-style: var(--small-text-font-style);
}

.home .text-wrapper-7 {
  position: relative;
  align-self: stretch;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #444444;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.home .items-2 {
  width: 187px;
  left: 1173px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: var(--variable-collection-spacing-s);
  position: absolute;
  top: 48px;
}

.home .text-wrapper-8 {
  position: absolute;
  height: 36px;
  top: 51px;
  left: 80px;
  font-family: var(--subheading-font-family);
  font-weight: var(--subheading-font-weight);
  color: #000000;
  font-size: var(--subheading-font-size);
  letter-spacing: var(--subheading-letter-spacing);
  line-height: var(--subheading-line-height);
  white-space: nowrap;
  font-style: var(--subheading-font-style);
}

.home .social-icons {
  display: inline-flex;
  align-items: flex-start;
  gap: var(--variable-collection-spacing-XS);
  position: absolute;
  top: 176px;
  left: 80px;
}

.home .buttons-icon {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 4px;
}

.home .icon {
  position: relative;
  width: 24px;
  height: 24px;
  top: 8px;
  left: 8px;
}

.home .icon-2 {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 2px;
  left: 2px;
}

.home .icon-3 {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 3px;
  left: 3px;
}

.home .icon-4 {
  position: absolute;
  width: 20px;
  height: 14px;
  top: 5px;
  left: 2px;
}

.home .divider {
  position: absolute;
  width: 1280px;
  height: 1px;
  top: 0;
  left: 80px;
  object-fit: cover;
}

.home .navigation {
  height: 164px;
  top: 0;
  position: absolute;
  width: 1440px;
  left: 0;
  background-color: #ffffff;
}

.home .navbar {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--variable-collection-spacing-m);
  position: absolute;
  top: 56px;
  left: 623px;
}

.home .text-wrapper-9 {
  position: relative;
  width: fit-content;
  font-family: "Inter", Helvetica;
  font-weight: 800;
  color: #802626;
  font-size: 22px;
  letter-spacing: 0;
  line-height: 33px;
  white-space: nowrap;
}

.home .text-wrapper-10 {
  position: relative;
  width: fit-content;
  font-family: var(--body-text-font-family);
  font-weight: var(--body-text-font-weight);
  color: #000000;
  font-size: var(--body-text-font-size);
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  white-space: nowrap;
  font-style: var(--body-text-font-style);
}

.home .text-wrapper-10-0 {
  position: relative;
  width: fit-content;
  font-family: var(--body-text-font-family);
  font-weight: var(--body-text-font-weight);
  color: #000000;
  font-size: var(--body-text-font-size);
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  white-space: nowrap;
  font-style: var(--body-text-font-style);
}

.home .text-wrapper-10-1 {
  position: relative;
  width: fit-content;
  font-family: var(--body-text-font-family);
  font-weight: var(--body-text-font-weight);
  color: #000000;
  font-size: var(--body-text-font-size);
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  white-space: nowrap;
  font-style: var(--body-text-font-style);
}

.home .text-wrapper-10-2 {
  position: relative;
  width: fit-content;
  font-family: var(--body-text-font-family);
  font-weight: var(--body-text-font-weight);
  color: #000000;
  font-size: var(--body-text-font-size);
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  white-space: nowrap;
  font-style: var(--body-text-font-style);
}

.home .button {
  all: unset;
  box-sizing: border-box;
  justify-content: center;
  padding: 14px 24px;
  background-color: #802626;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 8px;
  box-shadow: var(--button-shadow);
}

.home .text-wrapper-11 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--small-text-font-family);
  font-weight: var(--small-text-font-weight);
  color: #ffffff;
  font-size: var(--small-text-font-size);
  letter-spacing: var(--small-text-letter-spacing);
  line-height: var(--small-text-line-height);
  white-space: nowrap;
  font-style: var(--small-text-font-style);
}

.home .medi-connect {
  position: absolute;
  height: 90px;
  top: 36px;
  left: 158px;
  font-family: "Kodchasan-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 60px;
  letter-spacing: 0;
  line-height: 90px;
  white-space: nowrap;
}

.home .span {
  color: #268063;
}

.home .text-wrapper-12 {
  color: #802626;
}

.home .logo {
  position: absolute;
  width: 109px;
  height: 106px;
  top: 29px;
  left: 37px;
  object-fit: cover;
}

.home .section {
  position: absolute;
  width: 1440px;
  height: 457px;
  top: 2341px;
  left: 0;
  background-color: #f7f7f7;
}

.home .buttons {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
  position: absolute;
  top: 167px;
  left: 1035px;
}

.home .div-wrapper {
  all: unset;
  box-sizing: border-box;
  padding: 20px 32px;
  background-color: #000000;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 8px;
  box-shadow: var(--button-shadow);
}

.home .text-wrapper-13 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 36px;
  white-space: nowrap;
}

.home .p {
  position: absolute;
  width: 830px;
  top: 223px;
  left: 80px;
  font-family: var(--m3-headline-small-font-family);
  font-weight: var(--m3-headline-small-font-weight);
  color: #000000;
  font-size: var(--m3-headline-small-font-size);
  letter-spacing: var(--m3-headline-small-letter-spacing);
  line-height: var(--m3-headline-small-line-height);
  font-style: var(--m3-headline-small-font-style);
}

.home .text-wrapper-14 {
  position: absolute;
  width: 863px;
  top: 88px;
  left: 80px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 48px;
  letter-spacing: -0.96px;
  line-height: normal;
}

.home .boton-servicios {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 20px 32px;
  position: absolute;
  top: 1825px;
  left: 536px;
  background-color: #802626;
  border-radius: 8px;
  box-shadow: var(--button-shadow);
}

.home .servicios-destacados {
  display: flex;
  width: 1279px;
  align-items: center;
  gap: 32px;
  position: absolute;
  top: 996px;
  left: 65px;
}

.home .card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.home .image {
  background-image: url(./img/image.png);
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 405px;
  border-radius: 8px;
  background-size: cover;
  background-position: 50% 50%;
}

.home .copy {
  width: 381px;
  justify-content: center;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.home .text-wrapper-15 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 36px;
}

.home .text-wrapper-16 {
  position: relative;
  align-self: stretch;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #828282;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 36px;
}

.home .image-2 {
  background-image: url(./img/image-1.png);
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 405px;
  border-radius: 8px;
  background-size: cover;
  background-position: 50% 50%;
}

.home .image-3 {
  background-image: url(./img/image-2.png);
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 405px;
  border-radius: 8px;
  background-size: cover;
  background-position: 50% 50%;
}

.home .text-wrapper-17 {
  position: absolute;
  width: 624px;
  top: 889px;
  left: 65px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #268063;
  font-size: 48px;
  letter-spacing: -0.96px;
  line-height: normal;
}

.home .bienvenida-wrapper {
  width: 503px;
  gap: 40px;
  position: absolute;
  top: 212px;
  left: 79px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.home .bienvenida {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.home .text-wrapper-18 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #444444;
  font-size: 64px;
  letter-spacing: -1.28px;
  line-height: normal;
}

.home .text-wrapper-19 {
  position: relative;
  align-self: stretch;
  font-family: var(--subheading-font-family);
  font-weight: var(--subheading-font-weight);
  color: #000000bf;
  font-size: var(--subheading-font-size);
  letter-spacing: var(--subheading-letter-spacing);
  line-height: var(--subheading-line-height);
  font-style: var(--subheading-font-style);
}

.home .accede-a-tu {
  position: relative;
  align-self: stretch;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000bf;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 30px;
}

.home .button-2 {
  padding: 20px 32px;
  background-color: #268063;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 8px;
  box-shadow: var(--button-shadow);
}

.home .imagen-inicio {
  position: absolute;
  width: 717px;
  height: 640px;
  top: 188px;
  left: 627px;
  border-radius: 150px;
  background-image: url(./img/imagen-inicio.png);
  background-size: cover;
  background-position: 50% 50%;
}
